In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('example.db')

In [3]:
c = conn.cursor()

In [15]:
# Create table
c.execute('''CREATE TABLE person
             (id INTEGER PRIMARY KEY, name text, address text)''')
conn.commit()

OperationalError: table person already exists

In [16]:
c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
c.fetchall()

[('person',)]

In [17]:
#Add values
c.execute("INSERT INTO person VALUES ('Anna Henry','Carlow')")
conn.commit()

In [18]:

c.execute("SELECT address FROM person")
c.fetchall()

[('Carlow',),
 ('Tipperary',),
 ('Kerry',),
 ('Monaghan',),
 ('Carlow',),
 ('Tipperary',),
 ('Kerry',),
 ('Monaghan',),
 ('Carlow',)]

In [19]:
person = [('Shelby Beck', 'Tipperary'), ('Marie Carr', 'Kerry'),('Sarah Heath', 'Monaghan')]

In [20]:
person

[('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan')]

In [21]:
c.executemany("INSERT INTO person VALUES (?,?)", person)
conn.commit()

In [22]:
c.execute("SELECT ROWID name, address FROM person")
c.fetchall()

[(2, 'Carlow'),
 (3, 'Tipperary'),
 (4, 'Kerry'),
 (5, 'Monaghan'),
 (6, 'Carlow'),
 (7, 'Tipperary'),
 (8, 'Kerry'),
 (9, 'Monaghan'),
 (10, 'Carlow'),
 (11, 'Tipperary'),
 (12, 'Kerry'),
 (13, 'Monaghan')]

In [23]:
c.execute("SELECT name, address FROM person")
c.fetchall()

[('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan'),
 ('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan'),
 ('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan')]

In [24]:
c.execute("DELETE FROM person WHERE ROWID=1")
conn.commit()

In [25]:
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(2, 'Anna Henry', 'Carlow'),
 (3, 'Shelby Beck', 'Tipperary'),
 (4, 'Marie Carr', 'Kerry'),
 (5, 'Sarah Heath', 'Monaghan'),
 (6, 'Anna Henry', 'Carlow'),
 (7, 'Shelby Beck', 'Tipperary'),
 (8, 'Marie Carr', 'Kerry'),
 (9, 'Sarah Heath', 'Monaghan'),
 (10, 'Anna Henry', 'Carlow'),
 (11, 'Shelby Beck', 'Tipperary'),
 (12, 'Marie Carr', 'Kerry'),
 (13, 'Sarah Heath', 'Monaghan')]

In [27]:
c.execute("INSERT INTO person VALUES ('Robert Snyder', 'Leitrim')")
conn.commit()

In [29]:
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(2, 'Anna Henry', 'Carlow'),
 (3, 'Shelby Beck', 'Tipperary'),
 (4, 'Marie Carr', 'Kerry'),
 (5, 'Sarah Heath', 'Monaghan'),
 (6, 'Anna Henry', 'Carlow'),
 (7, 'Shelby Beck', 'Tipperary'),
 (8, 'Marie Carr', 'Kerry'),
 (9, 'Sarah Heath', 'Monaghan'),
 (10, 'Anna Henry', 'Carlow'),
 (11, 'Shelby Beck', 'Tipperary'),
 (12, 'Marie Carr', 'Kerry'),
 (13, 'Sarah Heath', 'Monaghan'),
 (14, 'Robert Snyder', 'Leitrim'),
 (15, 'Robert Snyder', 'Leitrim')]

In [30]:
c.execute("DELETE FROM person WHERE ROWID=14")
conn.commit()

In [31]:
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(2, 'Anna Henry', 'Carlow'),
 (3, 'Shelby Beck', 'Tipperary'),
 (4, 'Marie Carr', 'Kerry'),
 (5, 'Sarah Heath', 'Monaghan'),
 (6, 'Anna Henry', 'Carlow'),
 (7, 'Shelby Beck', 'Tipperary'),
 (8, 'Marie Carr', 'Kerry'),
 (9, 'Sarah Heath', 'Monaghan'),
 (10, 'Anna Henry', 'Carlow'),
 (11, 'Shelby Beck', 'Tipperary'),
 (12, 'Marie Carr', 'Kerry'),
 (13, 'Sarah Heath', 'Monaghan'),
 (15, 'Robert Snyder', 'Leitrim')]

In [32]:
c.execute("DROP TABLE person")
conn.commit()

In [10]:
person = pd.read_csv("https://github.com/ianmcloughlin/datasets/blob/master/cars-db/person.csv", index_col=0)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 77, saw 7