In [41]:
import sqlite3

In [42]:
conn = sqlite3.connect('example.db')

In [43]:
c = conn.cursor()

In [44]:
# Create table
c.execute('''CREATE TABLE person
             (name text, address text)''')
conn.commit()

OperationalError: table person already exists

In [45]:
c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
c.fetchall()

[('person',)]

In [46]:
#Add values
c.execute("INSERT INTO person VALUES ('Anna Henry','Carlow')")
conn.commit()

OperationalError: database is locked

In [ ]:

c.execute("SELECT address FROM person")
c.fetchall()

In [15]:
person = [('Shelby Beck', 'Tipperary'), ('Marie Carr', 'Kerry'),('Sarah Heath', 'Monaghan')]

In [16]:
person

[('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan')]

In [23]:
c.executemany("INSERT INTO person VALUES (?,?)", person)
conn.commit()

In [37]:
c.execute("SELECT ROWID name, address FROM person")
c.fetchall()

[(1, 'Carlow'), (2, 'Carlow'), (3, 'Tipperary'), (4, 'Kerry'), (5, 'Monaghan')]

In [38]:
c.execute("DELETE FROM person WHERE name = 'Anna Henry'")

OperationalError: database is locked

In [39]:
c.execute("SELECT name, address FROM person")
c.fetchall()

[('Anna Henry', 'Carlow'),
 ('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan')]

In [40]:
c.conn.close

AttributeError: 'sqlite3.Cursor' object has no attribute 'conn'